
$black: #000;
$blackcurrant: #111639;
$bright-turquoise: #0bbfe5;
$burnt-sienna: #e98649;
$charcoal: #4a4a4a;
$comet: #575978;
$dark-slate-blue: #3a4187;
$deep-koamaru: #2c2e61;
$deep-sky-blue: #00bbfe;
$gainsboro: #d8d8d8;
$hollywood-cerise: #f400a1;
$iris-blue: #0ba2c2;
$lavender-blue-25: #bcc0fd;
$lavender-blue: #c8cefd;
$lavender: #dadcfd;
$light-sky-blue: #aba7f9;
$light-slate-blue: #7f7aff;
$limegreen: #32cd32;
$monza: #d0021b;
$navy-blue: #0b77e5;
$nobel: #9b9b9b;
$pattens-blue: #fafbfd;
$paua: #1e2150;
$persian-blue: #2617b4;
$purple-heart: #681cb5;
$resolution-blue: #313674;
$rich-blue: #5659a6;
$ripe-lemon: #f8e71c;
$rock-blue: #8f9bba;
$sapphire: #05061f;
$ship-cove: #858cb2;
$solitude: #fafaf9;
$spun-pearl: #a5a1b1;
$turquoise: #50e3c2;
$vulcan: #38393b;
$whisper: #faf7f7;
$white-lilac: #e3e2e6;
$white: #fff;


$lighter-aqua: #97d5e0;
$light-aqua: #06bbdb;
$aqua: #0397b1;
$dark-aqua: #023750;
$darker-aqua: #06243f;
