<header>
  <kui-button (click)="onRemoveSelected()">{{'TABLE.REMOVE_SELECTED' | translate}}</kui-button>
  <kui-button (click)="onSelectAll()">{{'TABLE.SELECT_ALL' | translate}}</kui-button>
  <kui-button (click)="onClearAll()">{{'TABLE.CLEAR_ALL' | translate}}</kui-button>
  <kui-button (click)="onShowSelected()">{{'TABLE.SHOW_ONLY_SELECTED' | translate}}</kui-button>
</header>
<kui-table
    [id]="tableName"
    [columns]="columns | async"
    [rows]="rows | async"
    [quickFilterConfig]="quickFilterConfig"
    [headerFilter]="onHeaderFilter"
    [rowToggle]="onToggle"
  ></kui-table>
