<div class="topnav">
  <kui-icon
    kuiIcon="menu"
    kuiSize="size-2xl"
    (click)="toggleMenu()"
  ></kui-icon>
  <kui-menu
    *ngIf="isMenuVisible"
    [kuiOptions]="menuOptions"
  >
  </kui-menu>
  <!-- <a routerLink="dashboard" routerLinkActive="active">{{'NAVBAR.HOME' | translate}}</a>
  <a routerLink="table" routerLinkActive="active">{{'NAVBAR.TABLE' | translate}}</a> -->
  <!-- <div>
    <form>
      <input type="radio" name="theme" value="light" (change)="onSelectionChange('light')"> {{'NAVBAR.LIGHT' | translate}}
      <input type="radio" name="theme" value="dark" checked (change)="onSelectionChange('dark')"> {{'NAVBAR.DARK' | translate}}
    </form>
  </div>
  <div>
    <form>
      <input type="radio" name="theme" value="light" checked (change)="onLanguageChange('en-initial')"> {{'NAVBAR.ENGLISH' | translate}}
      <input type="radio" name="theme" value="dark" (change)="onLanguageChange('es')"> {{'NAVBAR.SPANISH' | translate}}
    </form>
  </div> -->
</div>
