/* You can add global styles to this file, and also import other style files */
@import '~@kleeen/style/base/reset';
@import './scss/themes/light';
@import './scss/themes/dark';
@import './scss/base/typography';

html {
  font-size: 62.5%;
}

body {
  background-color: theme-color('layout','background-primary');
  background-image: linear-gradient(135deg, theme-color('layout','background-primary') 0%, theme-color('layout', 'background-secondary') 75%);
  height: 100vh;
}